jupyterlab
notebook
numpy
pandas
matplotlib
japanize_matplotlib
seaborn
scipy
h5py==2.10.0
tensorflow==1.15
keras==2.2.4
torch
torchvision
sklearn
opencv-python
protobuf==3.20
Keras-Applications==1.0.8
pydotplus
openpyxl
xlsxwriter
xlrd